.card {
  display: grid;
  grid-template-columns: [text] minmax(100px, 1fr) [actions] auto;
  align-items: center;
  column-gap: 1rem;
  row-gap: .5rem;
  padding: .5rem;
}
.text {
  grid-column: text;
}
.actions {
  grid-column: actions;
}
.timestamps {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 0.5rem;
  grid-template-rows: auto;
  grid-template-columns: auto-fit;
}
